<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExercise Suite" verbose="2">

    <!-- Register Test Listener -->
    <listeners>
        <listener class-name="org.example.listeners.TestListener"/>
    </listeners>

    <!-- Chrome - Smoke Tests Suite -->
    <test name="Chrome - Smoke Tests" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.tests.SignupLoginTests"/>
            <class name="org.example.tests.HomeTests"/>
            <class name="org.example.tests.ProductsTests"/>
            <class name="org.example.tests.CartTests"/>
        </classes>
    </test>

    <!-- Chrome - Regression Tests Suite -->
    <test name="Chrome - Regression Tests" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.tests.SignupLoginTests"/>
            <class name="org.example.tests.HomeTests"/>
            <class name="org.example.tests.ProductsTests"/>
            <class name="org.example.tests.CartTests"/>
        </classes>
    </test>

    <!-- Chrome - Functional Tests Suite -->
    <test name="Chrome - Functional Tests" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="functional"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.tests.SignupLoginTests"/>
            <class name="org.example.tests.HomeTests"/>
            <class name="org.example.tests.ProductsTests"/>
            <class name="org.example.tests.CartTests"/>
        </classes>
    </test>

</suite>
